<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    <h1>Dashboard</h1>
    <form action="/logout" method="POST">
      <p>Logged in currently</p>
      <a href="/api/books">View books list</a>
      <br />
      <br />
      <a href="/api/token">View JWT Token</a>
      <br />
      <br>
      <button>Logout</button>
    </form>
  </body>
</html>
